
/* Your CSS Code here. */
.holder {
  display: grid;
  width: 200px;
  height: 200px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0; /* optional */
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  border: 1px solid #000;
}